<main>
     <section class="tarefas">
        <div class="tarefa"></div>
        <form action="">
            <div>
                <input type="radio" id="tarefa-1" >
                <label for="tarefa-1">Completa curso de Javascript</label>
            </div>

            <button>
                <img src="/imagens/x-icon.png" alt="ícone de x para excluir uma tarefa">
            </button>
        </form>
     </section>
</main> 